/* Custom nav bar
 *
 */

@media (min-width: 1200px) {
    .container{
        max-width: 900px;
    }
}

html {
    height:100%;
}

html body {
    background-color: rgba(230, 230, 230,1.00);
}

#custom-bootstrap-menu.navbar-default .navbar-brand {
    color: rgba(144, 175, 197, 1);
}
#custom-bootstrap-menu.navbar-default {
    font-size: 14px;
    background-color: rgba(42, 49, 50, 1);
    border-width: 1px;
    border-radius: 4px;
    margin-bottom: 0;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    color: rgba(144, 175, 197, 1);
    background-color: rgba(248, 248, 248, 0);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(144, 175, 197, 1);
    background-color: rgba(248, 248, 248, 0);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(144, 175, 197, 1);
    background-color: rgba(51, 107, 135, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: #336b87;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #336b87;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #336b87;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #2a3132;
}


/*
 * Shared CSS
 */

div .extended .title {
    padding-top: 20px;
    padding-bottom: 10px;
    margin-bottom: 15px;
    font-family: garamond;
    font-size: 35px;
    text-align: center;
    border-bottom: 1px solid #9F9F9F;
}

div .extended p {
    padding-left: 40px;
    padding-right: 40px;
    font-family: sans-serif;
    font-size: 15px;
    line-height: 1.4;
    color: #1f1f1f;
}

div .extended .code {
    margin-left: 40px;
    padding-left: 10px;
    margin-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 8px;
    font-family: sans-serif;
    font-size: 15px;
    line-height: 1.4;
    color: #1f1f1f;
    background-color:rgba(220, 220, 220,1.00);
}

div .extended h3 {
    font-family: sans-serif;
    font-weight: bold;
    padding-left: 20px;
}

div .extended h4 {
    font-family: sans-serif;
    font-weight: bold;
    padding-left: 30px;
}

div .main-frame {
    background-color: rgb(247, 247, 247);
    margin-bottom: 10px;
    bottom:0px;
    height:100%;
}

/* Home CSS
 *
 */
div .home p {

}
/* Quaternion CSS
 *
 */

div .quaternion p {

}

/* PID CSS
 *
 */

div .pid {

}

/* LQR CSS
 *
 */

div .lqr {

}

/* Filters CSS
 *
 */

div .filters {

}

/* Kalman CSS
 *
 */

div .kalman {

}