{% extends "layout.html" %}  
{% block content %}
<div class="pid">
  <div class="title">PID</div>
  <p>PID stands for <b>P</b>roportional <b>I</b>ntegral <b>D</b>erivative. It is one of the simplest controller but it 
    can be implemented to control complex and intricated system. The simplest form of the PID is:
  </p>
  <center><img src="{{ url_for('static', filename='img/PID.png') }}" width="85%" height="85%"></center>
  <p>
    where <b>e</b>(t) is the error and <b>u</b>(t) is the command computed by the PID.
  </p>
</div>
{% endblock %}
