{% extends "layout.html" %}  
{% block content %}
<div class="pid">
  <div class="title">PID</div>
  <h3>Introduction</h3>
  <p>PID stands for <b>P</b>roportional <b>I</b>ntegral <b>D</b>erivative. It is one of the simplest controller but it 
    can be implemented to control complex and intricated system. The simplest form of the PID is:
  </p>
  <center>$$
      \begin{align*}
      \mathbf{u}(t) = \quad &K_p \mathbf{e}(t)  &\text{Proportional term} \\
                    + &K_d\frac{d}{dt}\mathbf{e}(t)  &\text{Derivative term} \\
                    + &K_i\int_0^t\mathbf{e}(t)   &\text{Integral term} 
      \end{align*}
      $$
  </center>
  <p>
    where `\mathbf{e}(t)` is the error and `\mathbf{u}(t)` is the command computed by the PID. 
  </p>
  <p>
    If we take the example of an electrical heater, `\mathbf{e}(t)` would be the difference between the desired temperature `\mathbf{T}_d(t)`
    and the current temperature `\mathbf{T}(t)` and `\mathbf{u}(t)` the current given to the heating resistor.
  </p>
  <h3>PID Three Terms</h3>
  <p>
    A PID is composed of three terms: Proportional, Derivative, Integral. These three terms will be explained using the example 
    of the electrical heater previously mentionned in the Introduction. 
  </p>
  <h4>1. Proportional Term</h4>
  <p>This term is the easiest to understand, it is simply proportional to the error. Using the example of the heater, 
    if we have an error of 1°C then the command will be $K_p$ and if the error is 2°C then the command will be $2K_p$. 
    Therefore, a bigger $K_p$ implies that the command will have a bigger amplitude for a given error.
  </p>
  <h4>2. Derivative Term</h4>
  <h4>3. Integral Term</h4>
  <p>
  <center>
  <embed type="image/svg+xml" src={{graph_data|safe}} style='max-width:600px'/>
  </center>
  </p>
</div>
{% endblock %}
