{% extends "layout.html" %} {% block content %}
<div class="quaternion">

    <div class="title">Quaternions</div>
    <p>Here, I won't give a long explanation about quaternions and more especially unit quaternions but a list of useful formulae.</p>
    <h3>Quaternion</h3>
    <h4>Definition</h4>
    <center>$$
        \begin{align*}
            \mathbf{q} &= a + b\mathbf{i} + c\mathbf{j} + d\mathbf{k} &=& A\left(\cos{\frac{\theta}{2}} + \mathbf{v}\sin{\frac{\theta}{2}}\right) \\
            &= Ae^{\mathbf{v}\frac{\theta}{2}} &=& \left[w \; x \; y \; z \right]^T \\
            &= \left[q_0 \; q_1 \; q_2 \; q_3 \right]^T &=& \left[q_0 \; \mathbf{q}_v \right]^T
        \end{align*}
        $$
    </center>
    <h4>Operations</h4>
    <center>$$
        \begin{align*}
            &\lVert \mathbf{q} \rVert &=&  \quad q_0^2 + q_1^2 + q_2^2 + q_3^2 \\
            &ln(\mathbf{q}) &=& \quad ln(\lVert \mathbf{q} \rVert) + \frac{\mathbf{q}_v}{\lVert \mathbf{q}_v \rVert} \arccos(\frac{q_0}{\mathbf{q}}) \\
            &exp(\mathbf{q}) &=& \quad e^{q_0} + \left(\cos(\lVert \mathbf{q}_v \rVert) + \frac{\mathbf{q}_v}{\lVert \mathbf{q}_v \rVert} \sin(\lVert \mathbf{q}_v \rVert) \right) \\
            &\mathbf{q} \cdot  \mathbf{p} &=& \quad \begin{bmatrix} q_0 p_0 - \mathbf{q}_v \cdot \mathbf{p}_v \\ q_0 \mathbf{p}_v + p_0 \mathbf{q}_v + \mathbf{q}_v \times \mathbf{p}_v \end{bmatrix}  \\
            &conjugate(\mathbf{q}) &=&  \quad \left[q_0 \; \text{-}\mathbf{q}_v \right]^T \\
            &inverse(\mathbf{q}) &=&  \quad \frac{conjugate(\mathbf{q})}{\lVert \mathbf{q} \rVert}
        \end{align*}
        $$
    </center>
    <h3>Unit Quaternion</h3>
    <h4>Definition</h4>
    <center>$$
        \begin{align*}
            \mathbf{q} &= a + b\mathbf{i} + c\mathbf{j} + d\mathbf{k} &=& \cos{\frac{\theta}{2}} + \mathbf{v}\sin{\frac{\theta}{2}} \\
            &= e^{\mathbf{v}\frac{\theta}{2}} &=& \left[w \; x \; y \; z \right]^T \\
            &= \left[q_0 \; q_1 \; q_2 \; q_3 \right]^T &=& \left[q_0 \; \mathbf{q}_v \right]^T \\
            \text{where}\\
            \left\lVert\mathbf{q}\right\rVert_2 &= a^2 + b^2 + c^2 + d^2 \\
                                                &= q_0^2 + q_1^2 + q_2^2 + q_3^2 \\
                                                &= w^2 + x^2 + y^2 + z^2 \\
                                                &= 1
        \end{align*}
        $$
    </center>
    <h4>Operations</h4>
    <center>$$
        \begin{align*}
            &\lVert \mathbf{q} \rVert &=& \quad 1 \\
            &ln(\mathbf{q}) &=& \quad \frac{\mathbf{q}_v}{\lVert \mathbf{q}_v \rVert} \arccos(q_0)) = \arctan(\frac{q_0}{\mathbf{q}_v})\\
            &exp(\mathbf{q}) &=& \quad e^{q_0} + \left(\cos(\lVert \mathbf{q}_v \rVert) + \frac{\mathbf{q}_v}{\lVert \mathbf{q}_v \rVert} \sin(\lVert \mathbf{q}_v \rVert) \right) \\
            &\mathbf{q} \cdot \mathbf{p} &=& \quad \begin{bmatrix} q_0 p_0 - \mathbf{q}_v \cdot \mathbf{p}_v \\ q_0 \mathbf{p}_v + p_0 \mathbf{q}_v + \mathbf{q}_v \times \mathbf{p}_v \end{bmatrix}  \\
            &conjugate(\mathbf{q}) &=&  \quad \left[q_0 \; \text{-}\mathbf{q}_v \right]^T \\
            &inverse(\mathbf{q}) &=&  \quad conjugate(\mathbf{q})
        \end{align*}
        $$
    </center>
</div>
{% endblock %}
