{% extends "layout.html" %} {% block content %}
<div class="quaternion">

    <div class="title">Quaternions</div>
    <p>Here, I won't give a long explanation about quaternions and more especially unit quaternions but a list of useful formulae.</p>
    <h3>Quaternion</h3>
        <h4>Definition</h4>
            <center>$$
                \begin{align*}
                    \mathbf{q} &= a + b\mathbf{i} + c\mathbf{j} + d\mathbf{k} &=& A\left(\cos{\frac{\theta}{2}} + \mathbf{v}\sin{\frac{\theta}{2}}\right) \\
                    &= Ae^{\mathbf{v}\frac{\theta}{2}} &=& \left[w \; x \; y \; z \right]^T \\
                    &= \left[q_0 \; q_1 \; q_2 \; q_3 \right]^T &=& \left[q_0 \; \mathbf{q}_v \right]^T
                \end{align*}
                $$
            </center>
        <h4>Operations</h4>
            <center>$$
                \begin{align*}
                    &norm &\lVert \mathbf{q} \rVert &=  \quad q_0^2 + q_1^2 + q_2^2 + q_3^2 \\
                    &logarithm &ln(\mathbf{q}) &= \quad ln(\lVert \mathbf{q} \rVert) + \frac{\mathbf{q}_v}{\lVert \mathbf{q}_v \rVert} \arccos(\frac{q_0}{\mathbf{q}}) \\
                    &exponential &e^{\mathbf{q}} &= \quad e^{q_0} + \left(\cos(\lVert \mathbf{q}_v \rVert) + \frac{\mathbf{q}_v}{\lVert \mathbf{q}_v \rVert} \sin(\lVert \mathbf{q}_v \rVert) \right) \\
                    &multiplication &\mathbf{q} \cdot  \mathbf{p} &= \quad \begin{bmatrix} q_0 p_0 - \mathbf{q}_v \cdot \mathbf{p}_v \\ q_0 \mathbf{p}_v + p_0 \mathbf{q}_v + \mathbf{q}_v \times \mathbf{p}_v \end{bmatrix}  \\
                    &conjugate &\mathbf{q}^* &=  \quad \left[q_0 \; \text{-}\mathbf{q}_v \right]^T \\
                    &inverse &\mathbf{q}^{-1} &=  \quad \frac{\mathbf{q}^*}{\lVert \mathbf{q} \rVert}
                \end{align*}
                $$
            </center>
    <h3>Unit Quaternion</h3>
        <h4>Definition</h4>
            <center>$$
                \begin{align*}
                    \mathbf{q} &= a + b\mathbf{i} + c\mathbf{j} + d\mathbf{k} &=& \cos{\frac{\theta}{2}} + \mathbf{v}\sin{\frac{\theta}{2}} \\
                    &= e^{\mathbf{v}\frac{\theta}{2}} &=& \left[w \; x \; y \; z \right]^T \\
                    &= \left[q_0 \; q_1 \; q_2 \; q_3 \right]^T &=& \left[q_0 \; \mathbf{q}_v \right]^T \\
                    \text{where}\\
                    \left\lVert\mathbf{q}\right\rVert_2 &= a^2 + b^2 + c^2 + d^2 \\
                                                        &= q_0^2 + q_1^2 + q_2^2 + q_3^2 \\
                                                        &= w^2 + x^2 + y^2 + z^2 \\
                                                        &= 1
                \end{align*}
                $$
            </center>
        <h4>Operations</h4>
            <center>$$
                \begin{align*}
                    &norm &\lVert \mathbf{q} \rVert &=  1 \\
                    &logarithm &ln(\mathbf{q}) &= \quad \frac{\mathbf{q}_v}{\lVert \mathbf{q}_v \rVert} \arccos(q_0) = \arctan(\frac{q_0}{\mathbf{q}_v})\\
                    &exponential &e^{\mathbf{q}} &= \quad e^{q_0} + \left(\cos(\lVert \mathbf{q}_v \rVert) + \frac{\mathbf{q}_v}{\lVert \mathbf{q}_v \rVert} \sin(\lVert \mathbf{q}_v \rVert) \right) \\
                    &multiplication &\mathbf{q} \cdot  \mathbf{p} &= \quad \begin{bmatrix} q_0 p_0 - \mathbf{q}_v \cdot \mathbf{p}_v \\ q_0 \mathbf{p}_v + p_0 \mathbf{q}_v + \mathbf{q}_v \times \mathbf{p}_v \end{bmatrix}  \\
                    &conjugate &\mathbf{q}^* &=  \quad \left[q_0 \; \text{-}\mathbf{q}_v \right]^T \\
                    &inverse &\mathbf{q}^{-1} &=  \quad \mathbf{q}^*
                \end{align*}
                $$
            </center>
    <h3>Unit Quaternion As Rotation</h3>
        <p>The unit quaternion `\mathbf{q} = \cos\frac{\theta}{2} + \mathbf{v}\sin\frac{\theta}{2}` 
        corresponds to the rotation of `\theta` about the axis `\mathbf{v}`. <br> 
        The maths for these conversions can be found on <a href="https://en.wikipedia.org/wiki/Conversion_between_quaternions_and_Euler_angles">Wikipedia</a>.
        </p>
        <h4>Conversion Quaternion Rotation Matrix</h4>
        <p>
            <center>
                w: <input type="text" id="quat_w" size="5">
                x: <input type="text" id="quat_x" size="5">
                y: <input type="text" id="quat_y" size="5">
                z: <input type="text" id="quat_z" size="5">   
                <button onclick="to_rot_matrix()">To Rotation Matrix</button>
                <div id="rotation_matrix"></div>    
            </center>
        </p>
        <h4>Conversion Quaternion Euler Angles</h4>
        <p>
            <center>
                w: <input type="text" id="quat_euler_w" size="5">
                x: <input type="text" id="quat_euler_x" size="5">
                y: <input type="text" id="quat_euler_y" size="5">
                z: <input type="text" id="quat_euler_z" size="5">   
                <button onclick="to_euler_angles()">To Euler Angles</button>
                <div id="euler_angles"></div>    
            <br>
                roll (x): <input type="text" id="roll" size="5">
                pitch (y): <input type="text" id="pitch" size="5">
                yaw (z): <input type="text" id="yaw" size="5">
                <button onclick="to_quaternion()">To Quaternion</button>
                <div id="quaternion_from_euler"></div>    
            </center>
        </p>
    <script src="{{ url_for('static', filename='js/quaternion.js') }}"></script>
</div>
{% endblock %}
